.resultDiv {
	margin-top: 5%;
}

.winLose {
	width: 82vw;
	height: 40vh;
	margin: 4% 9%;
}

.won,
.lose {
	text-align: center;
	font-family: "Anton", sans-serif;
	font-size: 3em;
}
.lose {
	color: red;
}
.won {
	color: green;
}

.resultScore {
	margin: auto;
	border: 3px solid red;
	border-radius: 50%;
	text-align: center;
	font-size: 4.5em;
	width: 26%;
}
